@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Open+Sans&display=swap');

:root {
  --darkblue: #1c1e27;
  --lightSilver: #ececec;
}

.App {
  min-height: 100vh;
  display: flex;
  background-color: var(--darkblue);
}

/* code for scroll */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
